{% load static %}

{% block css %}

<style>
    a{
      font-family: Arial;
    }

</style>

{% endblock %}


<footer id="footer" class="text-black text-center py-4 mt-5">
  
    <div class="container mt-3 p-5">
        <h2>Amadeus Solutions</h2>
        <ul class="list-unstyled">
            <li> <b> Dirección: </b> Av. Vicuña Mackenna 4917, San Joaquín, Región Metropolitana </li>
            <li> <b> Teléfono: </b> (56) 9 0000 0000</li>
            <li> <b> Email: </b> amadeus.solutions@gmail.com </li>
            <li>
                <a href="https://www.instagram.com/astralkunstt/" class="card-link"> Instagram </a>
                <a href="https://wa.me/56975949797"> WhatsApp </a>
                <a href="https://github.com/aleejandra2/Integracion.git" class="card-link"> Github </a>
            </li>
        </ul>
</div>

</footer>

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
    {% endblock %}
