{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    .custom-border {
        border: 4px solid #c1d3fe !important;
        border-radius: 15px;
    }
    .background-image {
        background-image: url("{% static 'images/fondo.jpeg' %}");
        background-size: cover;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
    }

    #contenido {
        margin-top: 290px;
    }

    .card-img-fixed {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .bg-color {
        background-color: #edf2fb;
        border-radius: 10px;
    }
    
    
</style>
{% endblock %}


{% block header %}
<header><div class="background-image mb-5"></div></header>

{% endblock %}




{% block contenido %}

<div id="contenido" class="container">
    
    <div class="row gx-5 text-center custom-border">
        <div class="col bg-color">
            <div class="p-3">
                <h1>Páginas</h1>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P1.jpeg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et distinctio, autem eius cupiditate pariatur nisi. Ex dignissimos aliquid qui. Labore, laudantium aliquam omnis eligendi tempore non repellendus necessitatibus alias eos!</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P2.jpeg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae itaque cumque aspernatur cum sint voluptatum laudantium repudiandae in qui nemo explicabo, officia aliquam eveniet quae laborum inventore, amet vel.</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P3.jpeg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pylearning
                    </h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, voluptatibus quaerat. Voluptas sint illo, debitis facilis ipsa aut laudantium optio quis odio obcaecati fugiat provident laboriosam sapiente sequi doloremque excepturi!</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P4.jpg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 4</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt distinctio itaque delectus, perferendis placeat rerum, asperiores voluptatum deserunt atque cupiditate aliquam debitis voluptate praesentium quam accusantium nemo maiores ipsum. Atque!</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P5.jpg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 5</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe id accusantium quaerat ratione molestiae aperiam enim facilis dolor vel quis, accusamus, vitae aspernatur fuga sed consectetur, voluptas beatae. Quia, deserunt.</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P6.jpeg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 6</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laboriosam fuga quas ut id, tempore aut excepturi temporibus nihil! Possimus, aliquam. Aperiam tenetur sint nisi esse dolor cum provident soluta?</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P6.jpeg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 7</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae harum veniam quisquam blanditiis ad, maiores fuga explicabo omnis debitis consequuntur nesciunt officia dicta dolores tenetur sit ab. Consectetur, cumque veritatis..</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/P6.jpeg' %}" class="card-img-top card-img-fixed" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página 8</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aliquid nulla vero voluptates eveniet necessitatibus tempore, perferendis reprehenderit non inventore molestiae ullam qui pariatur in doloribus eaque quos magni rem?</p>
                    <a href="{% url 'notfound' %}">Ir a la Página</a>
                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %}